* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: calc(100vh - 200px);
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(
    #5d2d2d 0%,
    #4f8789 20%,
    #1fbbc0 50%,
    #4f8789 80%,
    #5d2d2d 100%
  );
}

header {
  width: 64px;
  height: 64px;
}

header > nav,
header > nav > a,
header > nav > a > img {
  width: 100%;
  aspect-ratio: 1;
}
