@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
.hiddenOn {
  display: none !important;
}
/* #region Classic Menu's */
#gameMenu {
  padding-top: 20px;
  box-sizing: border-box;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-self: center;
}

#gameZone {
  background-color: aquamarine;
  width: 1140px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

#screenPpc {
  background-color: rgba(0, 0, 255, 0.4);
  background: url("../ressources/images/ppc-forest-bg.jpg");
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ppcMenu {
  display: flex;
  flex-direction: column;
  background-color: #c2b3a5de;
  height: 100%;
  width: 485px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 65px;
  padding-right: 65px;
  justify-content: start;
  font-family: "Inter", sans-serif;
}

#ppcMenu > span {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(5, 134, 59);
  font-size: 36px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

#ppcModes {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: inherit;
}

#ppcModes > h3 {
  text-decoration: underline;
  font-size: 36px;
  font-weight: 500;
}

#ppcModesContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ppcModesContainer > button {
  background-color: rgba(255, 255, 255, 0.35);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 36px;
  border: 4px solid black;
  border-radius: 7px;
  cursor: pointer;
}

#ppcModesContainer > button:hover {
  background-color: rgba(255, 255, 255, 0.65);
  border: 4px solid rgb(5, 134, 59);
}

/* #region GameNav */
#gameNav {
  background-color: cadetblue;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Alumni Sans", sans-serif;
}

#gameNav h3 {
  font-size: 64px;
  font-weight: 400;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid;
}

#gameNav h3,
#gameNav button {
  height: 100%;
  border-radius: 15px;
  display: flex;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
}

#gameNav button {
  background-color: white;
  font-size: 32px;
  font-family: inherit;
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
}

#gameNav button img {
  display: flex;
  width: calc(100% - 10px);
  aspect-ratio: 1;
  position: absolute;
}
/* #endregion GameNav */
/* #endregion Classic Menu's */

#ppcDifficultyMenu {
  background-color: #3cbb5c7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 48px;
}

#ppcDifficultyOptions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  display: flex;
  gap: 50px;
}

#ppcDifficultyOptions > button {
  box-sizing: border-box;
  width: 120px;
  aspect-ratio: 1;
  font-size: 36px;
  font-family: inherit;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
}

#ppcGame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#ppcGame > div:first-of-type {
  display: flex;
  justify-content: space-between;
  font-family: "Alumni Sans", sans-serif;
  font-size: 36px;
  color: greenyellow;
  font-weight: bold;
}

/* #userSide {
  display: flex;
} */

#userInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#npcInfo {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hearts {
  width: 50px;
  height: 50px;
}
