#Credits {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul strong {
  font-size: 30px;
}

ul a {
  width: fit-content;
}

#return {
  text-decoration: none;
  padding: 5px;
  outline: 2px solid black;
  text-align: center;
  -webkit-text-stroke: 2px;
}
