* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: calc(100vh - 200px);
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(
    #5d2d2d 0%,
    #4f8789 20%,
    #1fbbc0 50%,
    #4f8789 80%,
    #5d2d2d 100%
  );
}

header {
  width: 64px;
  aspect-ratio: 1;
  display: flex;
  flex-shrink: 0;
}

header > nav,
header > nav > a,
header > nav > a > img {
  width: 100%;
  aspect-ratio: 1;
}

main {
  background-color: #82b8c9;
  outline: 1px solid black;
  width: 900px;
  height: calc(100% - 60px);
  padding: 30px;
  border-radius: 20px;
}

main > div {
  width: 100%;
  height: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
/* ---- PROFILE BANNER CSS ------------------------------*/
#banner {
  min-height: 300px;
  flex-shrink: 0;
  box-sizing: border-box; /* Très UTILE, pour utiliser des % et du Padding */
  width: 100%;
  border: 3px solid black;
  display: flex;
  background-color: #619daf;
}

#profile {
  outline: 2px solid black;
  height: 100%;
  min-width: 240px;
}

#profile > div:first-child {
  height: 100%;
  width: calc(100% - 36px);
  display: flex;
  align-items: center;
  background: radial-gradient(#29414966 0%, #619daf99 100%);
  padding-left: 18px;
  padding-right: 18px;
}

#pfp {
  width: 204px;
  aspect-ratio: 1;
  outline: 2px solid black;
  border-radius: 50%;
  background-color: #d7fcff;
}

#pfp > img:first-child {
  width: 100%;
  aspect-ratio: 1;
}

#info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#info > div:first-child {
  height: 40%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "Aleo", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#info > div:last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  height: 60%;
}

#playerLevel {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Big Shoulders", sans-serif;
  color: #1c0082;
  font-size: 40px;
}

#playerLevel > h3 {
  font-weight: bold;
}

/* Exp Bar */
#playerLevel > div {
  background-color: #215263;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  min-height: 20px;
  overflow: hidden;
}

#lvl {
  background-color: rgba(172, 255, 47, 0.9);
  width: 120px; /* Amount of EXP has to be variable through JAVA Script */
  height: calc(100% - 4px);
  border-radius: 15px;
}

#playerRank {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  width: 30%;
  height: 100%;
}

#playerRank > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#playerRank > div > img {
  width: 100%;
  aspect-ratio: 1;
  min-width: 80px;
}

/* ---- PROFILE STATISTICS CSS ------------------------------*/

#statistics {
  font-family: "Aleo", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 0;
  gap: 10px;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

#titleAndSocials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

#titleAndSocials > div {
  display: flex;
  height: 100%;
}

#titleAndSocials > div > button {
  background-color: #619daf;
  border: 2px solid black;
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1;
  padding: 0;
  cursor: pointer;
}

#titleAndSocials > div > button > img {
  width: 100%;
  aspect-ratio: 1;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  gap: 10px;
  background-color: #619daf;
  border: 2px solid black;
  font-size: 32px;
}

#content > div {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5px;
  gap: 5px;
  height: 40px;
  background: conic-gradient(from 90deg, #ffffff10, #99999939);
  border-bottom: 1px solid black;
}

#content > div > div > img {
  display: flex;
  height: 32px;
}

@media (max-width: 840px) {
  body {
    flex-direction: column;
  }
  header {
    margin: auto;
  }

  main {
    width: fit-content;
    margin: auto;
  }

  #banner {
    flex-direction: column;
    height: fit-content;
  }

  #profile {
    width: 100%;
  }

  #profile > div:first-child {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #info > div:first-child {
    justify-content: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #info > div:last-child {
    height: fit-content;
  }

  #playerLevel,
  #playerRank {
    box-sizing: border-box;
  }
}

@media (max-width: 520px) {
  #playerLevel > h3 {
    font-size: 28px;
  }

  #playerLevel > p {
    font-size: 26px;
  }

  #content span {
    font-size: 20px;
  }
}
