* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: #6ea1e4;
  padding-left: 30px;
  padding-right: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/*  Site Logo */
nav > a:first-child {
  display: flex;
  outline: 4px solid black;
  outline-offset: -4px;
  border-radius: 15px;
  background: radial-gradient(#63dd67 0%, #0b9910 55%, #306c32 100%);
  justify-content: center;
  align-self: center;
  width: 120px;
  height: 120px;
}

nav > a:first-child > {
  width: 100%;
  aspect-ratio: 1;
}

nav > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

nav > div:last-child > a:first-child {
  display: flex;
  width: 80px;
  aspect-ratio: 1;
}
nav > div:last-child > a:last-child {
  display: flex;
  width: 120px;
  aspect-ratio: 1;
  background-color: #d7fcff;
  outline: 3px solid black;
  outline-offset: -3px;
  border-radius: 50%;
}

nav > div:last-child > a:first-child > img:first-child {
  width: 100%;
  height: 100%;
}

nav > div:last-child > a:last-child > img:last-child {
  width: 100%;
  aspect-ratio: 1;
  margin: 10px;
}
